.logo {
	text-transform: uppercase;
	font-weight: var(--font-weight-semibold);
}

.btn {
	display: flex;
	background-color: var(--color-blue);
	color: var(--color-light);
	border-radius: var(--border-radius);
	padding: 10px 30px;
	border: none;
	font-size: var(--font-size-s);
	transition: var(--transition-default);

	&:hover {
		background-color: var(--color-dark-blue);
	}

	&:active {
		background-color: var(--color-blue);
	}

	&:disabled {
		background-color: var(--color-gray);
	}
}

.btn--delete {
	height: 34px;
	display: flex;
	align-items: center;
	background-color: var(--color-blue);
	color: var(--color-light);
	border-radius: var(--border-radius);
	padding: 5px 15px;
	border: none;
	font-size: var(--font-size-s);
	transition: var(--transition-default);

	&:hover {
		background-color: var(--color-red);
	}

	&:active {
		background-color: var(--color-red-active);
	}

	&:disabled {
		background-color: var(--color-gray);
	}
}

body {
	&::-webkit-scrollbar {
		width: 14px;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--color-light);
		border-radius: 4px;
		margin-block: 7px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-blue);
		border-radius: 4px;
	}
}
